<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tu.paquete.aqui">

    <!-- Permiso para acceder a Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permiso para leer almacenamiento externo -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Declaración de la aplicación -->
    <application
        android:label="agendar_sillas"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <!-- Actividad principal -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Tema normal de la actividad -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <!-- Filtro de intención para la actividad principal -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Meta-datos para Flutter -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
